.container-navSup {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  background: #ececec;
  box-shadow: 2px 2px 10px 5px #ececec;
}
.personDashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-around;
  padding-right: 60px;
}
.perfil-dashBoard {
  color: #13315c;
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
.name-person-dashBoard {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-right: 8px;
  color: #000000;
}
.arrown-down-dashBoard{
    width: 25px;
    height: 25px;
}
