.container-login{
    width: 1440px;
    height: 920px;
    margin: 0 auto;
}
.login {
  display: flex;
  position: relative;
  font-family: "PT Sans Caption", sans-serif;
  align-items: right;
  justify-content: right;
  top: 200px;
  right: 45px;
}
.box-login {
  display: flex;
  flex-direction: column;
}
.btns-login {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  justify-content: space-between;
}
.links-login {
  display: flex;
  flex-direction: column;
}
.title-login {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  text-transform: capitalize;
  color: #13315c;
}
.inputs-login {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 436px;
  background: #ffffff;
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: black;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 33px;
}
.text-links-login {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
.text-links-login:hover {
    color: #f6ae2d;
    transition: 0.5s;
}
.links{
    text-decoration: none;
}
#btn-entrar-login{
    background: #13315C;
}
