.container-cardbox {
    display : flex;
    flex-direction: row;
    position: relative;
    width: 500px;
    height: 162px;
    left: 97px;
    top: 153px;
}
.container-cardbox-texto-data {
    display: flex;
    flex-direction: column;
}
.containerCardbox-texto {
    display : flex;
    flex-direction: row;
    justify-content: space-between; 
}
.containerCardbox-data {
    display : flex;
    flex-direction: row;
}
.cardbox-texto {
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 47px;
    color: #081D3A;
}
.cardbox-quantidade {
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #081D3A;
}
.cardbox-preco {
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #081D3A;
}
.containerCardbox-data {
    display : flex;
    flex-direction: row;
}